.productframe-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .productframe-productframe {
    width: 100%;
    height: 1579px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    /* background-color: var(--dl-color-black&white-white); */
    background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHxiYWNrZ3JvdW5kfGVufDB8fHx8MTY4Mjk1NjMxNg&amp;ixlib=rb-4.0.3&amp;h=1700");

  }
  .productframe-background {
    right: -5px;
    width: 100%;
    bottom: -21px;
    height: 100%;
    position: absolute;
  }
  .productframe-text {
    top: 1086px;
    left: 1103px;
    color: rgba(101, 102, 137, 1);
    width: 297px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplashw6el--dhjww {
    top: 782px;
    left: 1101px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text07 {
    top: 1086px;
    left: 743px;
    color: rgba(101, 102, 137, 1);
    width: 297px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplash-sm7ebv-mgi-e {
    top: 782px;
    left: 747px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text14 {
    top: 1084px;
    left: 397px;
    color: rgba(101, 102, 137, 1);
    width: 295px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplasht7i-qx78a--vw {
    top: 779px;
    left: 393px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text21 {
    top: 1085px;
    left: 39px;
    color: rgba(101, 102, 137, 1);
    width: 295px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplash-fh--vuw-dx-ry {
    top: 779px;
    left: 35px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text28 {
    top: 649px;
    left: 1104px;
    color: rgba(101, 102, 137, 1);
    width: 297px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplashw6el--dhjww1 {
    top: 345px;
    left: 1102px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text35 {
    top: 649px;
    left: 744px;
    color: rgba(101, 102, 137, 1);
    width: 297px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplash-sm7ebv-mgi-e1 {
    top: 345px;
    left: 748px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text42 {
    top: 649px;
    left: 397px;
    color: rgba(101, 102, 137, 1);
    width: 297px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplashzxqa-akkay-p8 {
    top: 345px;
    left: 393px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-text49 {
    top: 649px;
    left: 52px;
    color: rgba(101, 102, 137, 1);
    width: 282px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-unsplashm-w0libb-nd-e {
    top: 345px;
    left: 45px;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .productframe-instockgroup {
    top: 222px;
    left: 1117px;
    width: 163px;
    height: 82px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .productframe-text56 {
    left: 12px;
    color: rgba(0, 0, 0, 1);
    width: 151px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-btn {
    top: 39px;
    left: 0px;
    width: 88px;
    height: 43px;
    position: absolute;
  }
  .productframe-filtergroup {
    top: 222px;
    left: 693px;
    width: 291px;
    height: 78px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .productframe-text58 {
    color: rgba(0, 0, 0, 1);
    width: 151px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-filterby {
    top: 44px;
    left: 0px;
    width: 291px;
    height: 34px;
    position: absolute;
  }
  .productframe-frame-sortgroup {
    top: 222px;
    left: 201px;
    width: 292px;
    height: 78px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .productframe-text60 {
    color: rgba(0, 0, 0, 1);
    width: 151px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .productframe-imag-sortgroup {
    top: 44px;
    left: 1px;
    width: 291px;
    height: 34px;
    position: absolute;
  }
  .productframe-text62 {
    top: 143px;
    left: 641px;
    color: rgba(0, 0, 0, 1);
    width: 161px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  