
header{
    min-height: 90px;
    background-color: var(--header-color);
    display: flex;
    z-index: 10000;
    
}


.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    width: 100%;
    
}

.nav_wrap_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;    
    
    
}

.nav_left_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-left: 100px;
    height: 100%;
    
    
}

.nav_left_item{
    
    font-size: 1.4rem;
    color: var(--text-color-light);
    font-weight: lighter;
    position: relative;
    height: 100%;
    width: 100px;
    display: flex;
    margin: 0;

}

.nav_left_link{
    text-decoration: none;
    color: var(--text-color-light)
    
}

.nav_left_link:hover{
    opacity: 0.9;
}

.nav_wrap_left_logo{
    width: 118px;
    text-align: center;
    
}
.nav_logo{
    font-family: 'Slackey', cursive;
    font-size: 25px;
}


.nav_right_list{
    display: flex;
    align-items: center;
    
    list-style: none;
    margin-right: 50px;

}

.nav_right_item{
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.nav_logo_find{
    font-size: 200%;
}

.nav_logo_cart{
    font-size: 200%;
    color: rgba(0, 9, 88, 1);
}



.login_btn{
    text-decoration: none;
    color: var(--text-color--bold);
    
    border-radius: 4px;
    font-size: 15px;
    display: block;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid rgba(65,71,127);
    font-weight: 600;
}

.nav_left_item:hover > .nav__list-pet{
    display: block;
    z-index: 1000000;
}

.nav__list-pet{
    list-style: none;
    position: absolute;
    top: 30px;
    left: 0;
    padding-left: 0;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    border-top: 3px solid #FB901A;
    width: 200%;
    display:none;
}



.nav__item-pet{
    height: 40px;
    border-bottom: 1px solid rgba(255,250,245);
    line-height: 15px;
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    animation: Opa ease-in 0.1s;    
}

.nav__item-pet-link{
    text-decoration: none;
    color: #707070;
    padding: 0 15px;
    line-height: 40px;
    display: block;
    width: 100%;

}

.nav__item-pet-link:hover{
    opacity: 0.8;
}


.faArrowDown{
    margin-left: 5px;
}

@keyframes Opa{
    from{
        opacity: 0;
    }
    To{
        opacity: 1;
    }
}

.nav_left_item-bridge::after{
    content: "";
    background-color: #FB901A;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: 15px;
    opacity: 0;
}

.login_btn{
    color: var(--text-color-bold);
    font-weight: 700;
}

.btn-cart{
    position: relative;
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: var(--text-color--bold);
}

.avaUser{
    font-size: 25px;
    color: rgba(0, 9, 88, 1);
    font-weight: 700;
}

.cnt-item{
    position: absolute;
    top: -10px;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: red;
}

