.checkoutframe-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .checkoutframe-checkoutframe {
    width: 100%;
    height: 1001px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #FFF4EA;
  }
  .checkoutframe-background {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1001px;
    position: absolute;
  }
  .checkoutframe-btn {
    top: 871px;
    left: 664px;
    width: 112px;
    height: 44px;
    position: absolute;
  }
  .checkoutframe-table {
    top: 360px;
    left: 275px;
    width: 890px;
    height: 389px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-text {
    left: 163px;
    color: rgba(0, 0, 0, 1);
    width: 77px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text02 {
    left: 789px;
    color: rgba(0, 0, 0, 1);
    width: 77px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text04 {
    left: 628px;
    color: rgba(0, 0, 0, 1);
    width: 77px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text06 {
    left: 467px;
    color: rgba(0, 0, 0, 1);
    width: 77px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-line1 {
    top: 25px;
    left: 0px;
    width: 890px;
    height: 0px;
    position: absolute;
  }
  .checkoutframe-line2 {
    top: 149px;
    left: 0px;
    width: 890px;
    height: 0px;
    position: absolute;
  }
  .checkoutframe-row3 {
    top: 299px;
    left: 16px;
    width: 872px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-product1 {
    top: 0px;
    left: 0px;
    width: 202px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-rectangle130 {
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    position: absolute;
  }
  .checkoutframe-text08 {
    top: 45px;
    left: 96px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text10 {
    left: 96px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text12 {
    top: 32px;
    left: 430px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text14 {
    top: 32px;
    left: 752px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-btnplusminus {
    top: 32px;
    left: 591px;
    width: 120px;
    height: 26px;
    position: absolute;
  }
  .checkoutframe-row2 {
    top: 169px;
    left: 16px;
    width: 872px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-product11 {
    top: 0px;
    left: 0px;
    width: 202px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-rectangle1301 {
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    position: absolute;
  }
  .checkoutframe-text16 {
    top: 45px;
    left: 96px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text18 {
    left: 96px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text20 {
    top: 32px;
    left: 430px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text22 {
    top: 32px;
    left: 752px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-btnplusminus1 {
    top: 32px;
    left: 591px;
    width: 120px;
    height: 26px;
    position: absolute;
  }
  .checkoutframe-row1 {
    top: 39px;
    left: 16px;
    width: 872px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-product12 {
    top: 0px;
    left: 0px;
    width: 202px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .checkoutframe-rectangle1302 {
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    position: absolute;
  }
  .checkoutframe-text24 {
    top: 45px;
    left: 96px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text26 {
    left: 96px;
    color: rgba(0, 0, 0, 1);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text28 {
    top: 32px;
    left: 430px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text30 {
    top: 32px;
    left: 752px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-btnplusminus2 {
    top: 32px;
    left: 591px;
    width: 120px;
    height: 26px;
    position: absolute;
  }
  .checkoutframe-line21 {
    top: 784px;
    left: 275px;
    width: 890px;
    height: 0px;
    position: absolute;
  }
  .checkoutframe-line11 {
    top: 639px;
    left: 275px;
    width: 890px;
    height: 0px;
    position: absolute;
  }
  .checkoutframe-text32 {
    top: 798px;
    left: 863px;
    color: rgba(0, 0, 0, 1);
    width: 158px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text34 {
    top: 798px;
    left: 1033px;
    color: rgba(0, 0, 0, 1);
    width: 140px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text36 {
    top: 830px;
    left: 823px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .checkoutframe-text41 {
    top: 203px;
    color: rgba(0, 0, 0, 1);
    width: 1440px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  