.body{
    background-color: #FFF4EA;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 100px auto;
    padding: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.grid-header{
    /* background-color: black; */
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.btn-logout{
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    background-color: rgba(255,91,46);
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #000;
}

.grid-column-left{
    /* background-color: red; */
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 100px;
    column-gap: 10px;
    row-gap: 20px;

}

.avatar-image {
    /* background-color: yellow; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.user-icon{
    width: 100%;
    height: 100%;
}

.avatar-name{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.change-information-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.change-information-icon > button{
    width: 40%;
    height: 40%;
    background-color: #FFF4EA;
    border: none;
}

.change-information-icon > button > img{
    width: 100%;
    height: 100%;
}

.change-information-label{
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-information-label > button{
    width: 100%;
    height: 100%;
    background-color: #FFF4EA;
    border: none;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
}

.grid-column-right{
    /* background-color: blue; */
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
.searching-bar
{
    height: 50px;
    width: 80%;
    /* background-color: orange; */
    margin-bottom: 50px;
}

.input-searching{
    position: relative;
    height: 100%;
    width: 100%;
}

.input-searching > input{
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    background: #FDE6E6;
    border-radius: 180px;

    padding-right: 20%;
    padding-left: 10px;
    box-sizing: border-box;

}



.searching-icon > button{
    
    position: absolute;
    z-index: 2;
    background: #FF5B2E;
    width: 15%;
    height: 80%;
    top: 5px;
    right: 5px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 180px;
}


.table-header{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    column-gap: 30px;
    margin-bottom: 30px;
}

.table-row{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    grid-template-rows: 200px;
    column-gap: 30px;
    /* background-color: #FF5B2E; */
    margin-bottom: 30px;
    border-top: 2px solid black;
}

.product-main-group{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.table-col{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px
}

.avatar-img{
    grid-area: 1/1 / 3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.avatar-img > img{
    width: 175px;
    height: 175px;
}

.product-name{
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
    /* background-color: green; */
}

.product-type{
    grid-column: 2;
    grid-row: 2;
    /* background-color: rgb(255, 4, 234); */
}

.talbe-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.product-price{
    /* background-color: darkcyan; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-div{
    display: flex;
    justify-self: center;
    
    grid-row: 2;
    width: 75%;
    height: 50%;
    
}

.btn-div > button{
    width: 100%;
    height: 100%;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 10px;
    cursor: pointer;
}




.product-quantity{
    /* background-color: darkgreen; */
    width: 100%;
    height: 100%;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.magnifying-image > img{
    width: 50%;
    height: 50%;
}

.tabble-header{
    display: flex;
    justify-items: center;
    align-items: center;
}

.centered-text {
    text-align: center;
  }
  

.products-table{
    margin: 50px 100px 50px 0px;
}


