.body{
    background-color: #FFF4EA;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 100px auto;
    padding: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.grid-header{
    /* background-color: black; */
    grid-row: 1;
    grid-column: 2;
}

.grid-column-left{
    /* background-color: red; */
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 100px;
    column-gap: 10px;
    row-gap: 20px;

}

.avatar-image > img{
    /* background-color: yellow; */
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.avatar-name{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.change-information-icon{
    /* background-color: blueviolet; */
}

.change-information-icon > img{
    width: 60%;
    height: 60%;
}

.change-information-label{
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-column-right{
    /* background-color: blue; */
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
.searching-bar
{
    min-height: 100px;
    /* background-color: orange; */
    margin-bottom: 50px;
}

.input-searching{
    position: relative;
}

.input-searching > input{
    width: 100%;
    height: 70px;
    z-index: 1;
    text-align: center;
    font-size: 2em;
    background: #FDE6E6;
    border-radius: 180px;

    padding-right: 20%;
    padding-left: 10px;
    box-sizing: border-box;

}



.searching-icon > button{
    
    position: absolute;
    z-index: 2;
    background: #FF5B2E;
    width: 15%;
    height: 80%;
    top: 7px;
    right: 3px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 180px;
}


.table-header{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    column-gap: 30px;
    margin-bottom: 30px;
}

.table-row{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    grid-template-rows: 200px;
    column-gap: 30px;
    /* background-color: #FF5B2E; */
    margin-bottom: 30px;
    border-top: 2px solid black;
}

.product-main-group{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.avatar-img{
    grid-area: 1/1 / 3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.avatar-img > img{
    width: 175px;
    height: 175px;
}

.product-name{
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
    /* background-color: green; */
}

.product-type{
    grid-column: 2;
    grid-row: 2;
    /* background-color: rgb(255, 4, 234); */
}

.product-price-group{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-price{
    /* background-color: darkcyan; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-div{
    position: relative;
    top: 25%;
    width: 50%;
    height: 25%;
}

.btn-div > button{
    width: 100%;
    height: 100%;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 10px;
}




.product-quantity{
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-total-group{
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.magnifying-image > img{
    width: 100%;
    height: 100%;
}