.container {
  position: relative;
  overflow: hidden;
}

.hidden-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100vh;
  background-color: #f1f1f1;
  transition: right 0.8s ease-in-out;
  z-index: 9999;
  overflow-y: scroll;
}

.hidden-menu.open {
  right: 0;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.menu-items {
  padding: 20px;
}

body {
  overflow: auto;
}

body.open-menu {
  overflow: hidden;
}

.x-icon{
  width: 26px;
  height: 26px;
}

.product-table{
  margin: 50px 50px 0 50px;
  font-size: 14px;
  border-bottom: 1px solid #000;
  
}

.table-row{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px;
  border-top: 1px solid #000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.centered-text {
  display: flex;
  justify-content: center;
}

.product-img{
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.product-img > img{
  width: 92px;
  height: 92px;
} 

.add-minus-btn{
  display: grid;
  width: 100px;
  height: 28px;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.input-quantity{
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent;
  border: none;
  grid-column: 2;
}

input.input-quantity::-webkit-inner-spin-button,
input.input-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden-menu-btn{
  border: none;
  cursor: pointer;
}

.product-action{
  display: flex;
  margin-top: 30px;
}

.remove-btn{
  margin-left: 20px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.header{
  margin-top: 20px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}



.checkout-div{
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: center;
}

.checkout-btn{
  width: 200px;
  height: 40px;
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-main-group{
  margin-left: 20px;
}

.checkout-btn {
  text-decoration: none;
  color: white;
}

.checkout-div{
  border: none;
}