.aboutframe-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aboutframe-aboutframe {
  width: 100%;
  height: 1596px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.aboutframe-background {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 2146px;
  position: absolute;
}
.aboutframe-text {
  top: 275px;
  left: 127px;
  color: rgba(0, 0, 0, 1);
  width: 552px;
  height: auto;
  position: absolute;
  font-size: 42px;
  font-style: Bold;
  text-align: left;
  font-family: Monda;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.aboutframe-text05 {
  top: 326px;
  left: 184px;
  color: rgba(0, 0, 0, 1);
  width: 646px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Monda;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.aboutframe-text16 {
  top: 892px;
  left: 127px;
  color: rgba(0, 0, 0, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: justified;
  font-family: Monda;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.aboutframe-text18 {
  top: 948px;
  left: 187px;
  color: rgba(0, 0, 0, 1);
  width: 479px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Monda;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.aboutframe-text29 {
  top: 877px;
  left: 780px;
  color: rgba(0, 0, 0, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: justified;
  font-family: Monda;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.aboutframe-text31 {
  top: 914px;
  left: 833px;
  color: rgba(0, 0, 0, 1);
  width: 479px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Monda;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.aboutframe-unsplash-mv9hjn-euhr4 {
  top: 281px;
  left: 920px;
  width: 392px;
  height: 523px;
  position: absolute;
  border-radius: 57px;
}
