.body{
    background-color: #FFF4EA;

    padding: 30px 0;
    
}

.body_product{
    margin-top: 30px;
    padding-bottom: 200px;
    
}

.img_justify{
    display: flex;
    justify-content: center;
}

.product_img{
    padding: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgba(28, 27, 31, 0.65);
    border-radius: 5px;
}

.product_img_wrap{
    height: 500px;
    width: 500px;

}

.product_name{
    
    font-weight: 600;
    font-size: 36px;
    /* or 39% */

    
    color: #000000;
    
}

.top_wrap{
    padding: 20px 0 50px 0;
    height: auto;
    border-bottom: 1px solid #000;
}

.top_wrap .product_price{
    display: block;
    font-weight: 400;
    font-size: 25px;

    /* or 56% */
    margin: 25px 0 50px 0;
    color: #090909;
    
    
}

.top_wrap > h3{

font-weight: 600;
font-size: 17px;
line-height: 14px;


color: #000000;
}


.product_description{
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    
    
}
.input_wrap{
    margin-top: 10px;
}

.bot_wrap{
    margin-top: 12px;
}

.btn-cal{
    width: 40px;
    height: 30px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

#input-quantity{
    /* border: 1px; */
    width: 70px;
    height: 30px;
    text-align: center;
}

.currentQuantity{
    display: block;
    margin-top: 20px;
}


.checkout-btn{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 10px;
    cursor: pointer;
}

.Review_titleWrap{
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

.Review_title{
    font-family: 'Poppins';
 
    font-weight: 600;
    font-size: 36px;
    line-height: 14px;
    /* or 39% */

    color: #000000;
}

.select_inputFilter{
    width: 300px;
    height: 30px;
    margin-top: 10px;
}


.comment_wrap:nth-child(1){
    border: 0;
}

.comment_wrap{
    width: 800px;
    padding: 50px;
    margin-left: 50px;
    border-top: 1px solid #000;
}

.avaImg{
    
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.userDetail_top{
    margin-top: 5px;
}

.comment_date{
    display: block;
    margin-top: 4px;
}

.comment_wrap{
    display: flex;
}

.userDetail_wrap{

    margin-left: 15px;
}

.userDetail_DescriptionWrap{
    margin-top: 30px;
}

.Link_Product_Category{
    color: rgba(0,9,88);
}